.vs/*
Binaries/* 
Content/StarterContent/*
Intermediate/*
Saved/*
.vs/Playground/v15/.suo
*.opendb
*.db
.vs/Playground/v15/ipch/AutoPCH/ba4bb3f5ebd37f8a/OPENDOOR.ipch
.vs/Playground/v15/ipch/AutoPCH/631fc7ec306bbabb/GRABBER.ipch
*.db-wal
*.db-shm
